# The port the web server should use
PORT=8080

# The location the simple-nvr uses for storage
NVR_STORAGE_DIRPATH="/storage/simple-nvr"

# The location where to store recording thumbnails
THUMB_STORAGE_DIRPATH="/storage/thumbs"

# Max number of thumbnailing jobs to run at a time
THUMB_MAX_BATCH=10

# Interval in seconds between full filesystem scans
FULL_SCAN_INTERVAL=300

# Interval in seconds between partial filesystem scans
PART_SCAN_INTERVAL=10