video{
    width: 100%;
    max-height: 75vh;
}

#controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls *{
    width: 100px;
    margin: 10px;
    text-align: center;
}