table{
    border: 1px solid black;
    background-color: #333;
    text-align: center;
}

table th, table td{
    border: 1px solid black;
}

#col_id{
    width: 100px;
}

#col_thumb{
    width: 150px;
}

#col_source{
    width: 150px;
}

#col_dates{
    width: 250px;
}

#col_duration{
    width: 100px;
}

#col_actions{
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_button{
    width: 75%;
}

.date_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.utc_date{
    filter: brightness(50%);
}

.thumb{
    width: auto;
    max-height: 50px;
}

.thumb_popup{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50%;
    display: none;
    z-index: 10;
}

.thumb_td:hover .thumb_popup{
    display: block;
}