#controls{
    display: flex;
    width: 100%;

    justify-content: space-between;
}

#left_controls, #right_controls{
    display: flex;
    gap: 20px;
}

.control_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dropdown_menu{
    display: none;
    position: absolute;

    top: 100%;
    left: 0;

    background: white;
    border: 1px solid black;

    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

#dropdown_menu li{
    padding: 8px 12px;
    cursor: pointer;

    color: white;
    background-color: #333;
}

#dropdown_menu li.selected {
    color: white;
    background-color: #005cbf;
}

#dropdown_menu li:hover {
    background-color: #666;
}

#dropdown_menu li:hover.selected {
    background-color: #007bff;
}

#page_controls div{
    display: flex;
}

#page_controls button{
    width: 100%;
}



#recordings{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.recording{
    display: grid;
    grid-template-rows: auto auto;

    background-color: #333;
    border: 3px solid white;
}



.recording_thumb{
    width: 100%;
    min-width: 50px;
    min-height: 50px;
}

.recording_thumb img{
    width: 100%;
    height: 100%;
}



.recording_info{
    width: 100%;
    height: 100%;
    text-align: center;
}

.recording_info, .recording_info th, .recording_info td{
    border: 1px solid white;
}

.recording_info_col_id{
    min-width: 100px;
    max-width: 150px;
}

.recording_info_col_source{
    min-width: 100px;
    max-width: 200px;
}

.recording_info_col_duration{
    min-width: 100px;
    max-width: 150px;
}

.recording_info_col_dates{
    width: 100%;
}

.recording_info_col_actions{
    min-width: 100px;
}


.recording_info_dates{
    display: flex;
    flex-direction: column;
}

.recording_info_dates .utc_date{
    filter: brightness(50%);
}

.recording_info_actions button{
    width: 75%;
}