#controls{
    display: flex;
    width: 100%;

    justify-content: space-between;
}

#left_controls, #right_controls{
    display: flex;
    gap: 20px;
}

.control_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dropdown_menu{
    display: none;
    position: absolute;

    top: 100%;
    left: 0;

    background: white;
    border: 1px solid black;

    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

#dropdown_menu li{
    padding: 8px 12px;
    cursor: pointer;

    color: white;
    background-color: #333;
}

#dropdown_menu li.selected {
    color: white;
    background-color: #005cbf;
}

#dropdown_menu li:hover {
    background-color: #666;
}

#dropdown_menu li:hover.selected {
    background-color: #007bff;
}

#page_controls div{
    display: flex;
}

#page_controls button{
    width: 100%;
}

table{
    border: 1px solid black;
    text-align: center;
}

table th, table td{
    border: 1px solid black;
}

#col_id{
    width: 75px;
}

#col_thumb{
    width: 150px;
}

#col_source{
    width: 275px;
}

#col_dates{
    width: 275px;
}

#col_duration{
    width: 125px;
}

#col_actions{
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_button{
    width: 100%;
    height: 100%;
}

.date_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.utc_date{
    filter: brightness(50%);
}

.thumb{
    width: 100%;
    height: auto;
}