#media_container , #info_container{
    width: 100%;
    height: 100%;
}

#media_container, #info_container{
    display: flex;
    flex-direction: column;
}

#info_container{
    align-items: center;
}





video{
    width: 100%;
    max-height: 75vh;
}

#controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls *{
    width: 100px;
    margin: 10px;
    text-align: center;
}





#info_container table{
    border: 1px solid black;
    text-align: center;
    width: max-content;
}

#info_container th, #info_container td{
    border: 1px solid black;
}

.col_source{
    width: 150px;
}

.col_dates{
    width: 200px;
}

.col_duration{
    width: 150px;
}

.col_size{
    width: 150px;
}

.col_bitrate{
    width: 150px;
}

.col_codecs{
    width: 200px;
}

.col_actions{
    width: 100px;
}



.recording_info_dates{
    display: flex;
    flex-direction: column;
}

.recording_info_dates .utc_date{
    filter: brightness(50%);
}