<div class="control_item" id="source_controls">
    <h3>Filter Sources</h3>
    <div id="source_select_container">
        <% for( let source of sources ) { %>
            <div class="source_select">
                <input type="checkbox" class="source_checkbox" data-id="<%= source.id %>" id="source_check_<%= source.id %>">
                <label for="source_check_<%= source.id %>"><%= source.name %></label>
            </div>
        <% } %>
    </div>
</div>

<div class="control_item" id="limit_controls">
    <h3>Result Count</h3>
    <select id="limit_select">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<div class="control_item" id="range_start_controls">
    <h3>Start</h3>
    <div class="date_time_inputs">
        <input type="date" class="date_input">
        <input type="time" class="time_input">
    </div>
</div>

<div class="control_item" id="range_end_controls">
    <h3>End</h3>
    <div class="date_time_inputs">
        <input type="date" class="date_input">
        <input type="time" class="time_input">
    </div>
</div>

<div class="control_item" id="update_control">
    <button onclick="resetControlValues();">Reset</button>
    <button onclick="updateOnFilter();">Update</button>
</div>